
@media only screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav{
        margin-left:5rem !important;
    }
    .nav-item{
        margin-left:.5rem !important;
        margin-right:.5rem !important;
    }
  }
  .navbar-toggler{
    box-shadow: none !important;
    border: 1px solid #CF9C03 !important;
  }